.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #f1f1f1;
  width: 100vw;
}
.add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
textarea {
  max-width: 98%;
  width: 90%;
  overflow: hidden;
  height: 60%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #000;
  font-size: 1.5em;
  scroll-behavior: smooth;
}
.data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  width: 100px;
  height: 100px;

  padding: 10px;
  background-color: #fff;
}
.home-container {
  transition: all 0.3s ease;
}

.home-container.expanded .add,
.home-container.expanded .data > .card,
.home-container.expanded .controls {
  display: none;
}

.home-container.expanded {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data {
  margin-top: 20px;
}

.controls {
  margin: 10px 0;
}
