body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  width: 100vw;

  border: 3px solid black;
  border-radius: 13px;
}
select {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #000;
  margin: 10px 0;
  padding: 5px;
}
.settings {
  display: flex;
  justify-content: space-evenly;
}
header {
}
h1 {
}
.add {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40vh;
}
.side {
}

textarea {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 5px;
}
.data {
  background: white;
  height: 40vh;
  overflow: scroll;
  min-width: 40%;
  width: 100%;
  overflow-x: hidden;
  border-radius: 13px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #928a8a;
  padding: 5px;
  margin: 5px;
  min-height: 40px;
  text-align: center;
  max-height: fit-content;
  flex-direction: column;
  border-radius: 13px;
}
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h4 {
  max-width: 60%;
  height: fit-content;
  margin: 0;
}
.code {
  align-items: center;
  justify-content: center;
  width: 100vb;
}
